.friendImg {
  margin: auto;
  margin-bottom: 10px;
}
.friendName {
  font-size: 38px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: black;
}
.friendStatus {
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: green;
}

.friendStatus.ofline {
  color: red;
}
